tool/src/main/frontend/assets/@bundled-es-modules/message-format/package.json
tool/src/main/frontend/assets/@fortawesome/fontawesome-common-types/package.json
tool/src/main/frontend/assets/@fortawesome/fontawesome-free/package.json
tool/src/main/frontend/assets/@fortawesome/fontawesome-svg-core/package.json
tool/src/main/frontend/assets/@fortawesome/free-solid-svg-icons/package.json
tool/src/main/frontend/assets/@lion/calendar/package.json
tool/src/main/frontend/assets/@lion/core/package.json
tool/src/main/frontend/assets/@lion/dialog/package.json
tool/src/main/frontend/assets/@lion/localize/package.json
tool/src/main/frontend/assets/@lion/overlays/package.json
tool/src/main/frontend/assets/@lion/pagination/package.json
tool/src/main/frontend/assets/@open-wc/dedupe-mixin/package.json
tool/src/main/frontend/assets/@open-wc/scoped-elements/package.json
tool/src/main/frontend/assets/@popperjs/core/package.json
tool/src/main/frontend/assets/@webcomponents/webcomponentsjs/package.json
tool/src/main/frontend/assets/cropperjs/package.json
tool/src/main/frontend/assets/flatpickr/package.json
tool/src/main/frontend/assets/lit-element/package.json
tool/src/main/frontend/assets/lit-html/package.json
tool/src/main/frontend/assets/moment/package.json
tool/src/main/frontend/assets/singleton-manager/package.json
tool/src/main/frontend/assets/sortablejs/package.json

